annotated-types==0.6.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
filelock==3.16.1
fonttools==4.49.0
fsspec==2024.9.0
gensim==4.3.3
huggingface-hub==0.25.2
idna==3.6
ifaddr==0.2.0
importlib-metadata==6.6.0
Jinja2==3.1.4
joblib==1.4.2
keybert==0.8.5
kiss-icp==0.3.0
kiwisolver==1.4.5
laspy==2.5.3
markdown-it-py==3.0.0
MarkupSafe==3.0.1
matplotlib==3.8.3
mdurl==0.1.2
more-itertools==10.2.0
mpmath==1.3.0
natsort==8.4.0
networkx==3.4.1
numpy==1.26.4
opencv-python==4.9.0.80
ouster-mapping==0.1.1
ouster-sdk==0.10.0
packaging==23.2
pillow==10.2.0
plyfile==1.0.3
prettytable==3.10.0
psutil==5.9.8
pydantic==2.6.3
pydantic-settings==2.2.1
pydantic_core==2.16.3
Pygments==2.17.2
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyquaternion==0.9.9
python-dateutil==2.8.2
python-dotenv==1.0.1
python-magic==0.4.27
PyYAML==6.0.2
regex==2024.9.11
requests==2.31.0
rich==13.7.1
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.12.0
sentence-transformers==3.2.0
shellingham==1.5.4
six==1.16.0
smart-open==7.0.5
sympy==1.13.3
threadpoolctl==3.5.0
tokenizers==0.20.1
torch==2.4.1
tqdm==4.66.2
transformers==4.45.2
typer==0.9.0
typing_extensions==4.10.0
urllib3==2.2.1
wcwidth==0.2.13
wrapt==1.16.0
zeroconf==0.58.2
zipp==3.17.0
